<br>
<h2 style="color:#003790;">onelinktrta<a href="/all" style="color:#900037;text-decoration:none;font-size:18px;"> #</a></h2>
<span>what's good about the internet</span>
<br>

<%# all links in reverse chronological %>
<br>
<a target="_blank" href=<%= @most_recent_link.url %>> <%= @most_recent_link.postDate %></a>&nbsp <span style="font-size:10px;"><%= @most_recent_link.description %></span><br>
    