<br>
<h2 style="color:#003790;">onelinktrta</h2>
<span>what's good about the internet</span>
<br> 

<header>
    <a class="navigation" href="/">today</a>
    <a class="navigation" href="/all">all</a>
    <a class="navigation" href="/learn">learn</a>
    <a class="navigation" href="/video">video</a>
    <a class="navigation" href="/text">text</a>
    <a class="navigation" href="/music">music</a>
    <a class="navigation" href="/game">game</a>
</header><br>

<%# all links with audio tag %>
<% @music_links.reverse.each do |music_link| %>
    <a target="_blank" href=<%= music_link.url %>> <%= music_link.postDate %></a>&nbsp <span style="font-size:10px;"><%= music_link.description %></span><br>
<% end %>