<header>
    <a href="/today">today</a>
    <a href="/all">all</a>
    <a href="/learn">learn</a>
    <a href="/video">video</a>
    <a href="/text">text</a>
    <a href="/audio">audio</a>
    <a href="/game">game</a>
</header>

<%# all links with text tag %>
<% @text_links.reverse.each do |text_link| %>
    <a target="_blank" href=<%= text_link.url %>> <%= text_link.postDate %></a>&nbsp <span style="font-size:10px;"><%= text_link.description %></span><br>
<% end %>