<br>
<h2 style="color:#003790;">onelinktrta</h2>
<span>what's good about the internet</span>
<br> 

<header>
    <a class="navigation" href="/">today</a>
    <a class="navigation" href="/all">all</a>
    <a class="navigation" href="/learn">learn</a>
    <a class="navigation" href="/video">video</a>
    <a class="navigation" href="/text">text</a>
    <a class="navigation" href="/music">music</a>
    <a class="navigation" href="/game">game</a>
</header><br>

<%# all links with text tag %>
<% @text_links.reverse.each do |text_link| %>
    <a target="_blank" href=<%= text_link.url %>> <%= text_link.postDate %></a>&nbsp <span style="font-size:10px;"><%= text_link.description %></span><br>
<% end %>