<%# all links with video tag %>
<% @video_links.reverse.each do |video_link| %>
    <a target="_blank" href=<%= video_link.url %>> <%= video_link.postDate %></a>&nbsp <span style="font-size:10px;"><%= video_link.description %></span><br>
<% end %>